<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/peep_page/all_peep_defaults.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title id="page-title">Loading...</title>
</head>
<body>
    <!-- The Card Wrapper -->
    <div id="card-container">
        <div id="content" class="peep-content">
            Loading content...
        </div>
    </div>

    <!-- Button Container -->
    <div class="button-container">
        <!-- Edit Markdown -->
        <a 
            id="edit-md-link" 
            target="_blank" 
            class="edit-button">
            Edit Page Text
        </a>

        <!-- Edit CSS for the Peep's Page -->
        <a 
            id="edit-css-link" 
            target="_blank" 
            class="edit-button">
            Edit Page Color & Styles
        </a>

        <!-- Edit Home Button CSS -->
        <a 
            id="edit-home-button-css-link" 
            target="_blank" 
            class="edit-button">
            Edit My Button on the Home Page
        </a>

        <!-- Go Back Home -->
        <a href="../index.html" class="home-button" id="home-button">&larr; Go Back to Home Page</a>
    </div>

    <script src="./peep_page.js"></script>
</body>
</html>
